<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyi.demo.mapper.ICustomerMapper">

<!-- 	<cache /> -->

	<resultMap id="CustomerMap" type="Customer">
		<id column="CustomerNo" property="customerNo" />
		<!--result column="TYPENO" property="typeNo" /-->
		<result column="CNAME" property="cname" />
		<result column="Contact" property="contact" />
		<result column="CardCode" property="cardcode" />
		<result column="Mobile" property="mobile" />
		<result column="FeeStartDate" property="feeStartDate" />
		<result column="FeeEndDate" property="feeEndDate" />
		<result column="CStatus" property="cstatus" />
	</resultMap>

    <insert id="create"  keyProperty="customerNo"   keyColumn="CustomerNo" useGeneratedKeys="true" flushCache="true" >
   insert into Customer (CustomerNo,Cname, Contact, CardCode,Mobile, FeeStartDate,FeeEndDate,Cstatus) values(#{customerNo}, #{cname},#{contact}, #{cardcode}, #{mobile}, #{feeStartDate},#{feeEndDate},#{cstatus})
  
  </insert>
  
  <update id="update" flushCache="true">
   update Customer set Cname=#{cname}, Contact=#{contact}, CardCode=#{cardcode}, Mobile=#{mobile}, FeeStartDate=#{feeStartDate},FeeEndDate=#{feeEndDate},Cstatus=#{cstatus} where CustomerNo=#{customerNo}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from Customer where CustomerNo = #{customerNo}
  </delete>
  
	<select id="selectCustomerById" resultMap="CustomerMap">
		select * from Customer
		where CustomerNo = #{customerNo} 
	</select>

	<select id="selectListByAll" resultMap="CustomerMap">
		select * from Customer
	</select>
	
    
</mapper>